
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Sistema de Carpetas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" role="button" *ngIf="userRole == 'admin'" (click)="verC()">Ver Carpetas</a>
        </li>
        <li class="nav-item dropdown" *ngIf="userRole == 'admin'">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" role="button"  (click)='crearC()'>Crear Carpeta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)='crearA()'>Crear Archivo</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="d-flex navbar-nav" role="button" style="position: relative; width: 150px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="fa fa-user-circle"></span>
            {{userA}}
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" role="button" *ngIf="userRole == 'admin'" (click)='verU()'>Ver Usuarios</a>
            </li>
            <li><hr class="dropdown-divider" *ngIf="userRole == 'admin'"></li>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)='backLogin()'>Cerrar Sesion</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="height: 5rem; border-width: 1px 0;"></div>
