<div class="container p-2">
    <form [formGroup]="form" (ngSubmit)="addArchivo()" class="border border-dark">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
                <span class="fs-3">Crear Archivo</span>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <label for="nombreArchivo" class="form-label">Nombre del Archivo</label>
                <input type="text" class="form-control"  name="nombreArchivo" id="nombreArchivo" 
                formControlName="nombreArchivo">
            </div>
        </div>
        <div class="p-4 row">
            <angular-editor formControlName="contenidoArchivo" [config]="config"></angular-editor>
        </div>
        <div class="p-2">
            <select id="carpetaId" class="form-control col form-select" formControlName="carpetaId" required>
                <option selected value="">Elegir Carpeta Contenedora</option>
                <option *ngFor="let Carpeta of carpetaService.list"  value={{Carpeta.id}}>{{Carpeta.nombreCarpeta}}</option>
            </select>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="d-grid">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>

